@font-face {
	font-family: "audiowide";
	src: url("../fonts/audiowide.ttf") format("truetype");
}

@font-face {	
	font-family: "bitstream";
	src: url("../fonts/bitstream.ttf") format("truetype");
}

body {
	font-family: audiowide;	
	background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 

}

.navbar-brand {
width: 350px;
height: 70px;	
float: left;
}

.navbar{
 min-height: 70px;
}

.navbar-toggle{
margin-top: 25px;
margin-right: 25px;
}

.navbar-fixed-top {
background: rgba(46,52,69,1);
background: -moz-linear-gradient(top, rgba(46,52,69,1) 0%, rgba(14,16,23,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46,52,69,1)), color-stop(100%, rgba(14,16,23,1)));
background: -webkit-linear-gradient(top, rgba(46,52,69,1) 0%, rgba(14,16,23,1) 100%);
background: -o-linear-gradient(top, rgba(46,52,69,1) 0%, rgba(14,16,23,1) 100%);
background: -ms-linear-gradient(top, rgba(46,52,69,1) 0%, rgba(14,16,23,1) 100%);
background: linear-gradient(to bottom, rgba(46,52,69,1) 0%, rgba(14,16,23,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3445', endColorstr='#0e1017', GradientType=0 );

min-height: 80px;
font-size: 15px;
}

.navbar-nav {
  margin-top: 17px;
  height: auto;
	float: right;
}

.page-header {
	color: white;
}

footer {
	color: white;
}

p{
	font-family: bitstream;	
}

footer p{
	font-family: audiowide;
}

p[id="description"]{
	margin-top: 5px;
	font-size: 12px;
}

/** Efekt okien **/

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;

}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(70,137,227,.75);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
	

}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
	margin-top: -15px;
    text-align: left;
    font-size: 20px;
    color: #fff;
	padding: 10px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 19px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #d35400;
    background: #fff;
}

.portfolio-modal .modal-content {
    padding: 10px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: left;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}