@font-face {
	font-family: "audiowide";
	src: url("../fonts/audiowide.ttf") format("truetype");
}

@font-face {	
	font-family: "bitstream";
	src: url("../fonts/bitstream.ttf") format("truetype");
}

body {
	padding-top: 70px;
	
	font-family: audiowide;	
	background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	color: white;
}

.navbar-brand {
width: 350px;
height: 70px;	
float: left;
}

.navbar{
 min-height: 70px;
}

.navbar-toggle{
margin-top: 25px;
margin-right: 25px;
}

.navbar-fixed-top {
background: rgba(46,52,69,1);
background: -moz-linear-gradient(top, rgba(46,52,69,1) 0%, rgba(14,16,23,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46,52,69,1)), color-stop(100%, rgba(14,16,23,1)));
background: -webkit-linear-gradient(top, rgba(46,52,69,1) 0%, rgba(14,16,23,1) 100%);
background: -o-linear-gradient(top, rgba(46,52,69,1) 0%, rgba(14,16,23,1) 100%);
background: -ms-linear-gradient(top, rgba(46,52,69,1) 0%, rgba(14,16,23,1) 100%);
background: linear-gradient(to bottom, rgba(46,52,69,1) 0%, rgba(14,16,23,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3445', endColorstr='#0e1017', GradientType=0 );

min-height: 80px;
font-size: 14px;
}

.navbar-nav {
  margin-top: 17px;
  height: auto;
	float: right;
}

.page-header {
	color: white;
}

footer {
	color: white;
	margin: 50px 0;
}

div[id="article"]{
	background: #2c3e50;
	
	margin-top: 15px;
	margin-bottom: 15px;

	padding-top: 10px;
	padding-bottom: 10px;
	
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;

	-webkit-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
}

img[id="preview"]{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;

	-webkit-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
}

div[id="description"]{
	font-family: bitstream;
}